<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msaclub.review.model.mapper.ReviewMapper">

    <select id="getNumberOfPurchaseList" resultType="int">
        SELECT COUNT(*) FROM purchase WHERE userId = #{userId}
    </select>

    <select id="getPurchaseListByDate" resultType="java.lang.String" >
        SELECT productId FROM purchase
        WHERE userId = #{userId}
        <if test="start != null">
            AND createdAt &gt;= #{start}
        </if>
        <if test="end != null">
            AND createdAt &lt;= #{end}
        </if>
    </select>

    <select id="getPurchaseList" resultType="java.lang.String">
        SELECT productId FROM purchase WHERE userId = #{userId}
    </select>

    <select id="isBuyer" resultType="boolean">
        SELECT COUNT(*) > 0 FROM purchase WHERE userId = #{userId} AND productId = #{productId}
    </select>

    <update id="review" parameterType="java.util.Map">
        UPDATE review SET content = #{content} WHERE reviewId = #{reviewId}
    </update>

    <delete id="deleteReview">
        DELETE FROM review WHERE reviewId = #{reviewId}
    </delete>

    <select id="getReviewByReviewId" resultType="com.msaclub.review.model.ReviewDto">
        SELECT * FROM review WHERE reviewId = #{reviewId}
    </select>

    <select id="getReviewCount" resultType="int">
        SELECT COUNT(*) FROM review WHERE userId = #{userId}
    </select>

    <select id="getReviewByUserId" resultType="com.msaclub.review.model.ReviewDto">
        SELECT * FROM review WHERE userId = #{userId}
    </select>

    <select id="getReviewByUserIdWithParam" resultType="com.msaclub.review.model.ReviewDto">
    <![CDATA[
        SELECT * FROM review
        WHERE userId = #{userId}
        ORDER BY reviewId DESC
            LIMIT #{reviewPerPage} OFFSET ${(pageNo-1) * reviewPerPage}
        ]]>
</select>

    <!-- 매개변수에 따라 동적으로 조건을 추가하는 쿼리 -->
    <select id="getReviewByRating" resultType="com.msaclub.review.model.ReviewDto">
        SELECT * FROM review
        WHERE productId = #{productId}
        ORDER BY rating
        <if test="isAscending">
            ASC
        </if>
        <if test="!isAscending">
            DESC
        </if>
    </select>

    <select id="getReviewAvg" resultType="double" parameterType="java.lang.String">
        SELECT total / numOfReview
        FROM rating
        WHERE productId = #{productId}
    </select>
</mapper>
